

#chatBox,#info{
    display: none;
    
}
#msg,#chat{
    display: none;
}
.main
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: rotate(180deg)
}


@mixin center {
    position: relative;

  }
  
  @mixin ball {
    @include center;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background:#888;
    z-index: 2;
    margin-top: 4px;
    animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  }
  

  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
   background: linear-gradient(135deg, #044f48, #345093);
    background-size: cover;
    background: transparent;
    font-family: 'Avenir', 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(80px);
    transform: scale(1.2);
   background: transparent;
  }
  

  
  .chat {
    @include center;
    width: 100%;
    height: calc(100% - 15px);
    max-height: 500px;
    z-index: 10;
    overflow: hidden;

    background: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  
  .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    width:100%;
    border-bottom:1px solid #ccc;
    color: #777;
    padding-top:50px;
    padding-bottom:5px;
    background-color:#fff;
    text-transform: uppercase;
    text-align: center;
  }
  .chat-title.h1  {
      font-weight: normal;
      font-size: 14px;
      margin: 0;
      padding: 0;
   
    }
    .chat-title.h2 {
      font-size: 11px;
      letter-spacing: 1px;
    }
    .avatar {
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 9px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 1px solid #fff;}
      img {
        width: 100%;
        height: auto;
  }

  
  .messages {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

}
    
     .messages-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 101%;
      width: 100%;
      display: block;
    }
    .message {
      clear: both;
      float: left;
      padding: 6px 10px 7px;
      -webkit-border-radius: 20px 20px 20px 0;
      -moz-border-radius: 20px 20px 20px 0;
      border-radius: 20px 20px 20px 0; 
      background: #eee; 
      margin: 8px 0;
      font-size: 14px;
      line-height: 1.4;
      margin-left: 35px;
      position: relative;
      border:1px solid #ccc;}
      .timestamp {
        position: absolute;
        bottom: -15px;
        font-size: 10px;
        color: #555;
         right:30px;
       
        
      }
      .checkmark-sent-delivered {
        position: absolute;
        bottom: -15px;
       right: 10px;
        font-size:12px;
        color:#999;
      }
      .checkmark-read {
        color:blue;
         position: absolute;
        bottom: -15px;
       right: 16px;
        font-size:12px;
      }

      .avatar {
        position: absolute;
        z-index: 1;
        bottom: -15px;
        left: -35px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 2px solid rgba(255, 255, 255, 0.5);}
        img {
          width: 100%;
          height: auto;
        }
      
      .message-personal {
        float: right;
        text-align: right;
        background:#fff;
        border:1px solid #ccc ;
        -webkit-border-radius: 20px 20px 0 20px;
        -moz-border-radius: 20px 20px 0 20px;
        border-radius: 20px 20px 0 20px;
      }

      .new {
        transform: scale(0);
        transform-origin: 0 0;
        animation: bounce 500ms linear both;
      }
      
        .loading::before {
          @include ball;
          border: none;
          animation-delay: .15s;
        }
         span {
          display: block;
          font-size: 0;
          width: 20px;
          height: 10px;
          position: relative;}
          span::before {
            @include ball;
            margin-left: -7px;
          }
          span::after {
            @include ball;
            margin-left: 7px;
            animation-delay: .3s;
          }
  .message-box {
    flex: 0 1 42px;
    width: 95%;
    background: #fff; 
    margin:2px auto;
    padding: 10px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    border:1px solid #ccc;
overflow: auto;
  }
  .message-box ::after{
    content: "\a";
    white-space: pre;
}
     .message-input {
      background: none;
      border: none;
      outline: none!important;
      resize: none; 
      font-size: 15px;
      height: 24px;
      margin: 0;
      padding: 5px 5px 5px 5px;
      width: 265px;
      color: #444;
    }
    textarea:focus:-webkit-placeholder {
      color: transparent;
    }
     .message-submit {
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #4A90E2;
      border: none;
      background: #fff;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px;
      border-radius: 5px;
      outline: none!important;
      transition: background .2s ease;
      cursor:pointer;}
      .message-submit:hover {
        background: #fff;
        color: #333;
      }

  .mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.5)!important;
  }
  
  @keyframes bounce {
    0% {
      transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  
  @keyframes ball {
    from {
      transform: translateY(0) scaleY(.8);
    }
    to {
      transform: translateY(-10px);
    }
  }
  
  
  .avenue-messenger {  
      opacity: 1;
      -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
      height: calc(100% - 60px)!important;
    max-height:460px!important;
    min-height:220px!important;
      width: 320px;
      background: rgba(255, 255, 255, 0.9);
        position: fixed;
    right: 20px;
      bottom: 20px;
      margin: auto;
      z-index: 10;
      border-radius: 10px;
      border:  2px solid #B2DD4C;
      /* box-shadow: 2px 10px 20px rgba(22,20,19,0.4); */
      -webkit-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
      -moz-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
    
  }
  
  .avenue-messenger div.agent-face {
      position: absolute;
      left: 0;
      top: -50px;
      right: 0;
      margin: auto;
      width: 101px;
      height: 50px;
      background: transparent;
    z-index:12;
      
  
  }
  
  
  .avenue-messenger div {
      font-size: 14px;
      color:#232323;
  }
  
  
  .close {
    display: block;
    width: 100px;
    height: 100px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em; opacity: 0.5;
  }
  .close:hover {
    opacity:0.9;
  }
  
  .circle {
    display: block;
    width: 80px;
    height: 80px;
    margin: 1em auto;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #fff;
  }
  
  .contact-icon .circle:hover{
   /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
    /* -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
  /* -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
    transition:0.2s all ease-out 0.2s;
    -webkit-transition:0.2s all ease-out 0.2s;
    -moz-transition:0.2s all ease-out 0.2s;
  }
  
  
  .arrow_box:after {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #fff;
      border-width: 5px;
      margin-top: -5px;
  }
  .arrow_box {
      position: relative;
      background: #fff;
      border: 1px solid #4A90E2;
  }
  .arrow_box:after, .arrow_box:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .menu .items span {
      color: #111;
    z-index:12;
      font-size: 14px;
      text-align: center;
      position: absolute;
      right: 0;
    top:40px;
      height: 86px;
      line-height: 40px;
      background: #fff;
      border-left:1px solid #ccc; 
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
      width: 48px;
      opacity: 0;
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
      transition: .3s all ease-in-out;
      -webkit-transition: .3s all ease-in-out;
      -moz-transition: .3s all ease-in-out;
  }
  .minBtn{

font-size: 30px !important;  
z-index:12;
text-align: right;
color: #333;
display: block;
width: auto;
line-height: 0px;
height: 40px;
border-top-right-radius: 20px;
position: absolute;
right: 30px;
padding-right:10px;
cursor: pointer;
transition: .3s all ease-in-out;
-webkit-transition: .3s all ease-in-out;
-moz-transition: .3s all ease-in-out;
  }
  .popUp{
    display: none;
text-align: center !important;  
position: absolute;
top: 40%;
left: 6%;
border: 2px solid grey;
background-color: rgb(221, 248, 221);
z-index: 20;
}
.popUp button{
  margin: 20px;
  padding: 5px;
}
.popUp p{
  margin:10px 10px 0px 20px;
}
  .menu .button {
      font-size: 30px;
    
      z-index:12;
      text-align: right;
      color: #333;
      content: "...";
      display: block;
      width: auto;
      line-height: 25px;
      height: 40px;
      border-top-right-radius: 20px;
      position: absolute;
      right: 0;
    padding-right:10px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
  }
  .menu .button.active {background: #ccc;}

  
  .menu .items span.active {
    opacity:1;
  }
  
  .menu .items a {color:#111; text-decoration:none;}
  .menu .items a:hover{color:#777}
  
  
  
  @media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
  .avenue-messenger {
      z-index: 2147483001!important;
      width: 100%!important;
      height: 100%!important;
      max-height: none!important;
      top: 0!important;
      left: 0!important;
      right: 0!important;
      bottom: 0!important;
    -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 20px !important;
    background:#fff;
  }
    .avenue-messenger div.agent-face {
      top:-10px!important;
    }
    .chat {-webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
    max-height:initial!important;}
    
    .chat-title {  
      padding:20px 20px 15px 10px!important;
      text-align:left;
      
    }
    .circle {
      width:80px; 
      height:80px;
      border:1px solid #fff;
    }
    .menu .button {
      border-top-right-radius:0;
    }
  }
  
  @media only screen and (min-device-width: 667px) {
  div.half {
  
    margin: auto;
    width: 80px;
      height: 40px;
      background-color: #fff;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    
      border-bottom: 0;
    /* box-shadow:1px 4px 10px rgba(22,20,19,0.6); */
    /* -webkit-box-shadow:1px 4px 20px rgba(22,20,19,0.6) ; */
    /* -moz-box-shadow:1px 4px 20px rgba(22,20,19,0.6); */
  }
  }


  @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
  .box{
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      background-color: rgba(0, 0, 0, 0.89);
      border-radius:3px;
      padding:70px 100px;
  
  }
  form{
    margin-top: 20%;
  }
  .input-container{
      position:relative;
      margin-bottom:25px;
      
     
  }
  .input-container label{
      position:absolute;
      top:0px;
      left:0px;
      font-size:16px;
      color:black;	
      transition: all 0.5s ease-in-out;
     padding-left: 10px;
  }
  .input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 10px;
    font-size:16px;
    color:black;
    margin-top: 15px;
  }
  .input-container input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #B2DD4C;	
  }
  .btn{
      color:#fff;
      background-color:#B2DD4C;
      outline: none;
      border: 0;
      color: #fff;
      padding:10px 20px;
      text-transform:uppercase;
      margin-top:30px;
      margin-left: 10px;
      border-radius:2px;
      cursor:pointer;
      position:relative;
  }
  .countryCode select{
    padding-left: 10px;
    border: none ;
    width: 100%;
  }
  .countryCode{
   
    border-bottom: 1px solid ;
  }
  .input-container input:focus ~ label,
  .input-container input:valid ~ label{
      top:-12px;
      font-size:12px;
      
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
 :root {
  --left-msg-bg: #B2DD4C; 
  --right-msg-bg: #579ffb;
}
#agent,#customer{
  display: none;

}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-top: 20px
} 
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  width: 70%;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
  
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
   word-wrap: break-word;
  height:auto !important; 

}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}
#info{
margin-top: 50px;
}

svg:hover{
  cursor:pointer;
  filter:opacity(80%)
}
